{% extends 'base.html' %}

{% block content %}
  <!-- <h1>Post</h1> -->
   <a href="{% url 'post:post_create' %}" class="floating-create-btn" title="Create Post">
        <div class="plus-container">
            <div class="plus-line horizontal"></div>
            <div class="plus-line vertical"></div>
        </div>
    </a>
  <ul>
    {% for post in posts %}
        <li class="tweet">
    <div class="tweet-header">
        <img src="{{ post.user.profile.avatar.url }}" alt="{{ post.user.username }}" class="avatar">
        <div class="tweet-body">
            <div class="tweet-info">
                <strong>{{ post.user.username }}</strong>
                <span class="timestamp">{{ post.created_at }}</span>

        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->

                <div class="post-dropdown">
                    <a class="post-dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <span>⋯</span>
                    </a>
                    <ul class="post-dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'post:post_edit' post.id %}">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'post:post_delete' post.id %}">Delete</a></li>
                    </ul>
                </div>

            </div>
            <p class="tweet-content">{{ post.content }}</p>
            {% if post.image %}
                <div class="tweet-media">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="tweet-image">
                </div>
            {% endif %}
            
            <div class="tweet-actions">
                <button class="tweet-action-btn comment-btn">
                    <svg class="tweet-action-icon" viewBox="0 0 24 24">
                        <path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path>
                    </svg>
                    <span class="tweet-action-count">{{ post.comment_count }}</span>
                </button>
                
                <button class="tweet-action-btn like-btn">
                    <svg class="tweet-action-icon" viewBox="0 0 24 24">
                        <path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12z"></path>
                    </svg>
                    <span class="tweet-action-count">{{ post.like_count }}</span>
                </button>
            </div>
        </div>
    </div>
</li>

    {% empty %}
      <li>No posts available.</li>
    {% endfor %}
  </ul>
{% endblock %}